<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="checkURL" value="https://learn.microsoft.com/en-us/answers/questions/861540/configurationmanager-not-available-in-net-5-class"></add>
		<add key="lookForString" value="data-bi-name"></add>
	</appSettings>
</configuration>