<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URLconfig" value=" websites go here, seperated by semicolons"></add>
		<add key="stringConfig" value=" strings to check for go here, seperated by semicolons. the first website aligns with the first string, etc. "></add>
	</appSettings>
</configuration>
